* {
  margin: 0;
  padding: 0;
}

#main-page {
  display: flex;
  justify-content: space-around;
  border: 1px solid blue;
}

#article-main {
  width: 100%;
}

#titulo-choice {
  margin-left: 31%;
}

#section-rounds {
  border: 1px solid blue;
  width: 65%;
  display: flex;
  justify-content: space-around;
}

#tabela-points {
  border: 1px solid black;
  width: 15%;
}

#div-mae-rounds {
  border: 1px solid red;
  width: 55%;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto 20px auto;
}

#rounds {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 100px;
  border: 1px solid black;
  margin: auto;
}

.check-rounds {
  width: 30%;
  height: 45%;
  border: 1px solid black;
}

.checkbox-rounds{
  display: none;
}

.check-rounds:hover {
  border: 3px solid black;
}

#titulo-rounds {
  margin-left: 35%;
}

#aside-rankings {
  border: 1px solid yellow;
  width: 20%;
}

#section-game {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  width: 65%;
}

#results {
  border: 1px solid black;
  width: 15%;
}

#div-mae-choices {
  border: 1px solid black;
  width: 55%;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto 20px auto;
}

#choices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 100px;
  border: 1px solid black;
  margin: auto;
}

.check-choices {
  width: 30%;
  height: 45%;
  border: 1px solid black;
}

.checkbox-choices {
  display: none;
}

#check-tesoura, #check-papel, #check-pedra, #check-cinco, #check-dez, #check-quinze {
  border: 1px solid black;
}

#check-tesoura-checked, #check-pedra-checked, #check-papel-checked, #check-cinco-checked, #check-dez-checked, #check-quinze-checked {
  border: 3px solid black;
}


