* {
 margin: 0;
 padding: 0; 
}

#header-game {
  display: flex;
  justify-content: space-around;
  align-items: end;
  width: 100%;
  height: 90px;
  background-color: rgb(114, 92, 60);
  background: radial-gradient(circle, rgb(184, 142, 79), rgb(97, 77, 46));
  color: white;
}

#nav-header {
  /* border: 1px solid yellow; */
  width: 35%;
  height: 25px;
}

#ul-header {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  height: 100%;
}

.li-header {
  font-weight: 400;
}

.li-header:hover {
  background-color: white;
}

#img-user {
  border-radius: 100%;
  width: 30%;
  height: 75%;
}

#div-user-header {
  width: 15%;
  height: 30%;
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}