@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Bebas+Neue&family=Holtwood+One+SC&family=Josefin+Sans&family=Lemon&family=Space+Grotesk&family=Vast+Shadow&display=swap');


/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Holtwood One SC', serif;
font-family: 'Lemon', serif;
font-family: 'Space Grotesk', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Vast Shadow', serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: rgb(173, 145, 102); */
  /* background-image: url("https://www.ancient-origins.net/sites/default/files/field/image/Barbarians-reputation.jpg"); */
  /* background-repeat: no-repeat;
  background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* border: 2px solid rgb(128, 0, 100); */
  height: 100%;
}

#div-mother-home {
  background-image: url("../imgs/bg.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  /* border: 2px solid green; */
}

#div-titulos {
  display: flex;
  justify-content: space-around;
  background-color: rgb(114, 92, 60);
  background: radial-gradient(circle, rgb(184, 142, 79), rgb(97, 77, 46));
  color: white;
  align-items: center;
  height: 130px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000000;
}

#title-pt {
  font-family: 'Holtwood One SC', serif
}

#title-ko {
  font-family: 'Lemon', serif;
  color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
}

#title-en {
  font-family: 'Holtwood One SC', serif
}

#main-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  position: relative;
  gap: 0;
  padding-bottom: 2rem;
}

#img-jokenpo {
  width: 15%;
  height: auto;
  min-height: 80px;
  flex-shrink: 0;
  margin-bottom: -80px;
  display: block;
  position: relative;
  z-index: 1;
}

#img-jokenpo img {
  object-fit: contain;
}

#div-mae-loginRegister{
  border: 1px solid rgba(115, 92, 60, 0.6);
  width: 35%;
  min-height: 500px;
  border-radius: 50%;
  background-color: rgba(115, 92, 60, 0.6);
  position: relative;
  z-index: 2;
  margin-top: 0;
  padding-top: 100px;
  box-sizing: border-box;
  /* background-color: rgb(173, 149, 113); */
  /* background-color: rgba(255, 255, 255, 0.3); */
}

#h1-loginRegister {
  text-align: center;
  margin: 1% auto 0 auto;
  font-family: 'Arvo', serif;
  /* text-decoration: underline; */
  /* color: rgb(114, 92, 60); */
  color: white;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff; */
  font-size: 35px;
  font-weight: bolder;
  width: 65%;
}

.span-h1 {
  color: #f7b751;
}

#div-loginRegister {
  margin: 3% auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#link-sobre-desenvolvedor {
  margin-top: 0.75rem;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  transition: color 0.2s, text-decoration 0.2s;
}

#link-sobre-desenvolvedor:hover {
  color: #f7b751;
  text-decoration: underline;
}

#btn-loginRegister {
  background-color: rgb(112, 24, 24);
  border: none;
  color: white;
  width: 51%;
  height: 30px;
  font-size: 19px;
  font-weight: 800;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Space Grotesk', sans-serif;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000; */
  margin-bottom: 2%;
  margin-top: -90px;
}

@media (max-width: 1115px) {
  body {
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-position: center;
  }

  #div-titulos {
    height: 180px;
    flex-direction: column;
    text-align: center;
    -webkit-text-stroke-width: 1px;
  }
  #title-pt, #title-ko, #title-en {
    font-size: 35px;
  }

  #h1-loginRegister {
    font-size: 25px;
  }

  #img-jokenpo {
    width: 35%;
    margin-bottom: -60px;
  }

  #div-mae-loginRegister {
    height: 60%;
    min-height: 400px;
    width: 60%;
    margin-top: 0;
    padding-top: 80px;
  }

  #div-loginRegister {
    height: 340px;
  }

  #btn-loginRegister {
    width: 60%;
    height: 13%;
    font-size: 19px;
  }
}

@media (max-width: 700px) { 
  body {
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-position: center;
  }

  #div-titulos {
    height: 180px;
    flex-direction: column;
    text-align: center;
    -webkit-text-stroke-width: 1px;
  }
  #title-pt, #title-ko, #title-en {
    font-size: 23px;
  }

  #h1-loginRegister {
    font-size: 20px;
  }

  #img-jokenpo {
    width: 45%;
    margin-bottom: -50px;
    min-height: 70px;
  }

  #div-mae-loginRegister {
    height: 55%;
    min-height: 380px;
    width: 75%;
    margin-top: 0;
    padding-top: 70px;
  }

  #div-loginRegister {
    height: 340px;
  }

  #btn-loginRegister {
    width: 60%;
    height: 13%;
    font-size: 19px;
  }
}

@media (max-width: 380px) {

  body {
    /* background-repeat: no-repeat;
    background-size: cover; */
    background-position: center;
  }

  #div-titulos {
    height: 180px;
    flex-direction: column;
    text-align: center;
    -webkit-text-stroke-width: 1px;
  }
  #title-pt, #title-ko, #title-en {
    font-size: 19px;
  }

  #h1-loginRegister {
    font-size: 16px;
  }

  #img-jokenpo {
    width: 45%;
    margin-bottom: -40px;
    min-height: 60px;
  }

  #div-mae-loginRegister {
    height: 50%;
    min-height: 360px;
    width: 85%;
    margin-top: 0;
    padding-top: 60px;
  }

  #div-loginRegister {
    height: 340px;
  }

  #btn-loginRegister {
    width: 60%;
    height: 13%;
    font-size: 16px;
  }

}
