@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Bebas+Neue&family=Holtwood+One+SC&family=Josefin+Sans&family=Lemon&family=Space+Grotesk&family=Vast+Shadow&display=swap');

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Holtwood One SC', serif;
font-family: 'Lemon', serif;
font-family: 'Space Grotesk', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Vast Shadow', serif; */

* {
  margin: 0;
  padding: 0;
  background-image: none;
}

#div-register {
  /* border: 1px solid rgb(173, 145, 102); */
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  border-radius: 50%;
}

#h3-register {
  font-size: 40px;
  font-weight: bolder;
  margin-top: 3%;
  font-family: 'Holtwood One SC', serif;
  color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
}

#form-register {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  height: 50%;
  margin: auto;
  /* border: 1px solid green; */
}

.input-register {
  height: 35px;
  /* border-right: none;
  border-top: none;
  border-left: none; */
  color: rgba(115, 92, 60);
  border-radius: 19px;
  border: 3px solid rgba(115, 92, 60);
  font-weight: 800;
  width: 85%;
  background-color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
  padding: 3px;
}

.input-register:focus{
  box-shadow: 0 0 0 0;
  border: 0 0 1 0;
  outline: 0;
}

.input-register::placeholder {
  color: rgba(115, 92, 60, 0.6);
}

.input-register:-webkit-autofill,
.input-register:-webkit-autofill:focus,
.input-register:-webkit-autofill:valid {
  -webkit-box-shadow: 0 0 0 1000px white inset; /* Adiciona uma sombra para cobrir o autofill */
  color: rgba(115, 92, 60);
  font-family: 'Space Grotesk', sans-serif;
}

#btn-register {
  height: 60px;
  width: 70%;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 700;
  background-color: rgb(236, 157, 66);
  cursor: pointer;
  border: none;
  /* font-family: 'Holtwood One SC', serif; */
  font-family: 'Arvo', serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
}

#btn-register:disabled {
  cursor: not-allowed;
  background-color: rgb(236, 194, 146);
}

@media (max-width: 1115px) {
  #div-register {
    height: 70%;
  }

  .input-register {
    height: 20px;
    font-size: 12px;
  }

  .input-register::placeholder {
    color: rgba(56, 40, 17, 0.6);
  }

  #btn-register {
    height: 18%;
    width: 75%;
    font-size: 15px;
    color: rgba(56, 40, 17, 0.6);
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #ffffff;
  }

  #btn-register:disabled {
    cursor: not-allowed;
    background-color: rgb(236, 194, 146);
    /* background-color: rgb(58, 168, 25); */
    color: rgba(95, 80, 60, 0.6);
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #ffffff;
  }
}

@media (max-width: 700px) {
  #div-register {
    height: 70%;
  }

  .input-register {
    height: 20px;
    font-size: 12px;
  }

  .input-register::placeholder {
    color: rgba(56, 40, 17, 0.6);
  }

  #btn-register {
    height: 18%;
    width: 75%;
    font-size: 15px;
    color: rgba(56, 40, 17, 0.6);
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #ffffff;
  }

  #btn-register:disabled {
    cursor: not-allowed;
    background-color: rgb(236, 194, 146);
    /* background-color: rgb(58, 168, 25); */
    color: rgba(95, 80, 60, 0.6);
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #ffffff;
  }
}

@media (max-width: 380px) {
  #div-register {
    height: 70%;
  }

  .input-register {
    height: 16px;
    font-size: 12px;
  }

  .input-register::placeholder {
    color: rgba(56, 40, 17, 0.6);
  }

  #btn-register {
    height: 18%;
    width: 75%;
    font-size: 15px;
    color: rgba(56, 40, 17, 0.6);
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #ffffff;
  }

  #btn-register:disabled {
    cursor: not-allowed;
    background-color: rgb(236, 194, 146);
    /* background-color: rgb(58, 168, 25); */
    color: rgba(95, 80, 60, 0.6);
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #ffffff;
  }
}

  